.footer {
  display: flex;
  flex-direction: column;
  min-width: 166px;
  max-heght: 16px;
}

.footer__copyright {
  display: flex;
  margin: auto;
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 1;
}
