.intro {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  margin: 148px;
  margin-top: 92px;
  margin-bottom: 92px;
}

.intro__title {
  max-width: 830px;
  min-height: 116px;

  margin-bottom: 40px;
  font-weight: black;
  font-size: 54px;
  line-height: 1;
  letter-spacing: 0%;
}

.intro__quote {
  max-width: 738px;
  min-height: 68px;
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0%;
}

.intro__quote_author {
  display: flex;
  justify-content: flex-end;
  max-width: 732px;
  margin-bottom: 32px;
}

.intro__text {
  max-width: 722px;

  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 24px;
    margin-top: 90px;
    margin-bottom: 88px;
  }

  .intro__title {
    max-width: 707px;
    min-height: 98px;

    margin-bottom: 50px;
    font-weight: black;
    font-size: 45px;
    line-height: 0.9;
  }

  .intro__quote {
    max-width: 720px;
    min-height: 102px;
    margin-top: 0;
    margin-bottom: 26px;
  }

  .intro__quote_author {
    max-width: 720px;
    margin-bottom: 32px;
  }

  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    max-width: 496px;
    margin: 24px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .intro__title {
    max-width: 496px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    max-width: 496px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.4;
  }

  .intro__quote_author {
    max-width: 496px;
    min-height: 34px;
    margin-bottom: 32px;
  }

  .intro__text {
    max-width: 496px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin: 5%;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .intro__title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.09;
  }
  .intro__quote {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.4;
  }
  .intro__quote_author {
    margin-bottom: 32px;
  }
}
