h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
}

/*
- testar break points em 470px, 665px, 999px, 1100px e 1500px
- copiar do Figma apenas tamanhos e cores das fontes.
- comprimir imagens
- novas seções photo-grid e places, use grid layout.

*/

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }

  @media screen and (max-width: 544px) {
    .page {
      max-width: 544px;
    }
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}
