.photo-grid {
  margin: 0 48px 92px 48px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.photo-grid__item {
  margin: 0;
}
.photo-grid__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 0 24px 88px 24px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 0 16px 62px 16px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
  }
}
