.place {
  margin: 0 148px;
  margin-bottom: 90px;
}

.place__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
    "title artists"
    "image text"
    "frame text";
  margin-bottom: 80px;
}

.place__item:last-of-type {
  margin-bottom: 0;
}

.place__title {
  grid-area: title;
  font-weight: black;
  font-size: 72px;
  line-height: 1.05;
  letter-spacing: 0%;
}

.place__artists {
  grid-area: artists;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__artists_heading {
  margin-bottom: 8px;
  color: #aaaaaa;
  font-size: 12px;
  letter-spacing: 12%;
}

.place__artist {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0%;
}

.place__image {
  grid-area: image;
  width: 460px;
  height: 460px;
  object-fit: cover;
  background: #000000;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.place__image:hover {
  opacity: 50%;
}

.place__text {
  grid-area: text;
}

.place__text_paragraph {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}

.place__text_paragraph:last-of-type {
  margin-bottom: 0;
}

.place__button {
  grid-area: frame;
  padding: 13px 20px;
  width: 356px;
  max-height: 22px;

  font-weight: semi-bold;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0%;
  color: #fff;

  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0 24px;
    margin-bottom: 90px;
  }
  .place__item {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    row-gap: 48px;
    column-gap: 28px;
    grid-template-areas:
      "title artists"
      "image text"
      "frame text";
    margin-bottom: 72px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }

  .place__image {
    width: 340px;
    height: 340px;
    object-fit: cover;
  }

  .place__text_paragraph {
    font-size: 16px;
  }

  .place__button {
    width: 315px;
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 30px;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "text"
      "frame";

    margin-bottom: 50px;
  }
  .place__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 0 0 90px 0;
  }
  .place__item {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 30px;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "text"
      "frame";

    margin-bottom: 50px;
  }

  .place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 1.09;
  }

  .place__artists {
    margin: 0 16px;
    padding: 0;
  }

  .place__image {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  .place__text_paragraph {
    margin: 0 16px;
    margin-bottom: 22px;
    font-size: 16px;
  }

  .place__button {
    width: 83%;
    margin: 0 auto;
    font-size: 14px;
  }
}
